{% extends "layout.html" %}

{% block title %}
    Buy stocks
{% endblock %}

{% block main %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Your available cash : {{ cash }} $</h4>
        </div>
    </div>
    <div class="panel-group">
    {% if quote %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Please choose a stock symbol :</h4>
            </div>
    {% else %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Please enter a valid stock symbol :</h4>
            </div>
    {% endif %}
            <div class="panel-body">
                <form action="{{ url_for('buy') }}" method="post" class="form-inline">
                    <fieldset>
                        <div class="form-group">
                            <input id="stock" class="form-control" type="text" name="stock" 
                            autofocus placeholder="Stock symbol">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% if result %}
        <div class="panel-group">
            {% if number %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Stock value of {{ result.name }}</h4>
                    </div>
            {% else %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4>Please enter a positive integer :</h4>
                    </div>
            {% endif %}
                <div class="panel-body">
                    <h4>Price : {{ price }}</h4>
                    <form class="form-inline" action="{{ url_for('bought') }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input id="shares" class="form-control" type="text" name="shares" placeholder="Number of shares">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-danger" type="submit">Buy</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        {% if success %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4>You just purchased {{ number_share }} stocks of {{ result.name }} for {{ buy_amount }} $</h4>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
