<!-- Extend quote.html iot have results just below the search form -->
{% extends "quote.html" %}

{% block results %}
    <div class="panel-group">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Stock value of {{ result.symbol}}</h4>
            </div>
            <div class="panel-body">
                <h4>Name : {{ result.name }}</h4>
                <h4>Price : {{ price }}</h4>
            </div>
        </div>
    </div>
{% endblock %}
